@media only screen and (min-width: 44em){
	main{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
	}
	header h1{
		grid-column: 2/5;
	}
	.date{
		grid-column: 1/11;
	}
	header{

		grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 80px;
		border-bottom: 1px solid #bbb;
	}
	.social{
		grid-column: 10;
		padding-top: 10px;
	}
	.box1{
		margin: 10px auto;
		position: relative;
		grid-column: 2/4;
		grid-row: 1/3;
		height: auto;
		background-color: transparent;
	}
	.box1 img{
	width: 320px;
	height: 320px;
	}
	.stats {
		text-align: center;
		font-size: 8px;
		position: absolute;
		width: 125px;
		height: 110px;
		top: 10px;
		right: 10px;
		background: radial-gradient(#eee, #648cda);
		border: 1px solid #000;
		box-shadow: 0 0 30px #333;
		opacity: 0.9;
	}
	.box2{
		height: 150px;
		grid-row: 1;
		width: auto;
		grid-column: 1;
		text-align: center;
		align-items: start;
		background-color: #756D54;
		margin-top: 18px;
		margin-right: 20px;
	}
	.box2 h4{
		font-size: 15px;
		margin-top: 8px;
		margin-bottom: 4px;
	}
	.box3{
		font-size: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-column: 1;
		grid-row: 2;
		height: 150px;
		width: 145px;
		text-align: center;
		background-color: #756D54;
	}
	.box3 img{
		width: 50px;
		margin-left: 20px;
		grid-column: 1;
	}
	.box3 h4{
		font-size: 15px;
		margin-top: 8px;
		grid-column: 1/3;
	}
	.firstp{
		grid-column: 2;
		grid-row: 2;
	}
	.secondp{
		grid-column: 1;
	}
	.thirdp{
		grid-column: 2;
	}
	.extra{
		position: relative;
		grid-column: 1;
		grid-row: 3/5;
		height: 150px;
		text-align: center;
		background-color: #756D54;
		padding-left: 4px;
		padding-bottom: 8px;
		padding-top:0px;
	}
	.stats1 {
		font-size: 15px;
		width: 140px;
		height: 40px;
		background:#f0f1f2;
		box-shadow: 0 0 5px rgb(0, 0, 0);
		border-radius: 20px;
	}
	h2{
		padding-top: 5px;
	}
	.disas{
		display: contents;
	}
	section p{
		font-size: 12px;
	}
	.spo{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-column: 4;
		grid-row: 1/5;
		margin-top:25px;
		height:500px;
		margin-bottom: 25px;
	}
	.box4{
		grid-column: 2/4;
		height: 150px;
		grid-row: 3/5;
		text-align: center;
		background-color: #756D54;
		padding-top: 0px;
		margin-left: 28px;
	}
	.box4 h4{
		margin-top: 4px;
		margin-bottom: 5px;
	}
	.box4 p{
		margin-top: 1px;
		font-size: 15px;
	}
	.box5{
   	 	grid-column: 1/2;
    	grid-row: 1;
		height: 120px;
		margin-top: 20px;
	}
	.box6{
   		grid-column: 1/2; 
   		grid-row: 2;
	    height: 120px;
		margin-top: 15px;
	}	
	.box7{
	display:block;
	grid-column: 1/2; 
	grid-row: 3;
	height: 140px;
	width: auto;
	border-radius: 5px;
    background-color: #e9e3d1;
	margin-bottom: 5px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 20px;
	justify-content: center;
	}
	.box7 img, .box6 img, .box5 img{
		width: 50px;
		height: 30px;
		grid-column: 1;
		margin-bottom: 1px;
	}
	.box7, .box6, .box5{
	text-align: center;
	}
	.box7 h4, .box6 h4, .box5 h4{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.box7 p, .box6 p, .box5 p{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 12px;
	}
	footer img{
		margin-left: 50px;
		margin-top: 75px;
	}
	h3, .address{
		margin-left: 50px;
	}
	nav{
		width: 100px;
		grid-column: 5/7;
	}
	nav button{
		display:none;
	}
	.navigation {
		display: flex;
		padding-top: 10px;
		text-align: center;

	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
		font-size: 5px;
	}
	.navigation a {
		display: inline;
		text-align: center;
		font-weight: 15;
		font-size: 15px;
		padding: 14px;

	}
	.navigation li:first-child {
		display: none;
	}

	/*discovery page*/
	.discovery img{
		width: 300px;  
	}
	.cano{
		grid-column: 2;
		grid-row: 1;
	}
	.itwo{
		grid-column: 2;
		grid-row: 2;
	}
	.ifour{
		grid-column: 2;
	}
	.Monserrate{
		grid-row: 4;
	}
	.locals{
		grid-column: 1/5;
	}


}