@media only screen and (min-width: 645px){
    body{
        max-width: 650px;
    }
    .cards {
        display: grid;
      }

      main section{
        text-align: center;
        border: 1px solid rgb(99, 103, 103);
        background-color: rgb(85, 98, 0);
    }
}