@media only screen and (min-width: 800px){
    /* header */
    .social{
        grid-column: 6;
        text-align: center;
        margin-right: 10px;
    }
    nav{
        width: 100px;
        grid-column: 4/5;
    }
    nav button{
        display:none;
    }
    .navigation {
        display: flex;
        padding-top: 10px;
        text-align: center;

    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
        font-size: 5px;
    }
    .navigation a {
        display: inline;
        text-align: center;
        font-weight: 15;
        font-size: 15px;
        padding: 14px;

    }
    .navigation li:first-child {
        display: none;
    }
        /* box1*/
    .stats{
        height: 168px;
        width: 512px;    
    }
    .stats h2{
        font-size: 25px;
        width: 416px;
    }
    .stats button{
        font-size: 19px;
        margin-top: 11px;
        height: 50px;
    }
    /* boxes */
    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .box2, .box3, .box4, .box5 {
        width: 179px;
        height: 282px;
    }
    .boxes p {
        font-size: 18px;
    }
    .boxes h4 {
        font-size: 22px;
        margin-top: -12px;
    }
    /* Weather */
    /* Weather table1 */
    .currentweatherinfo {
        height: 208px;
        width: 248px;
    }
    
    
    /* Weather table2 */
    .nextweatherinfo {
        height: 208px;
        width: 248px;
    }
    
    
    /* Weather table3 */
    .doubleweatherinfo{
        height: 208px;
        width: 248px;
    }
    /*-------------------------------------------------------Temple Page--------------------------------------------------------------------*/
    /*stats */
    .statstemples {
        height: 96px;
        top: 37px;
        width: 438px;
    }
    .statstemples h2{
        font-size: 25px;
        width: 328px;
    }
    
    /* imgg */
    .templeimg{
        text-align: center;
    }
    .templeimg img{
        display: block;
        width: 567px;
        margin: auto;
        height: 298px;
        padding-bottom: 23px;
    }
    /* Likes */
    .likebuttonss img{
        width: 129px;
        height: 121px;
    }
    .likebutton {
        width: 164px;
    }
    .likebutton1 {
        width: 164px;
    }
    .likebutton2 {
        width: 164px;
    }
    .likebutton3 {
        width: 164px;
    }
    /*-------------------------------------------------------Reservation Page--------------------------------------------------------------------*/
    .reservationform {
        max-width: 679px;
    }
    /*-------------------------------------------------------Services Page--------------------------------------------------------------------*/
    .backgorundfood {
        width: 463px;
        height: 300px;
        margin-left: -96px;
    }
    .food {
        width: 483px;
        margin-left: -435px;
    }
    .paraone {
        margin-left: 221px;
        margin-right: 150px;
    }
    .paratwo {
        margin-left: 93px;
    }
    .parathree {
        margin-right: 114px;
    }
    .Fulltime {
        width: 513px;
    }
}
@media only screen and (min-width: 1000px){
    /* Header */
    .box1 img {
        height: 540px;
    }
    /* What can we offer section */
    .box2, .box3, .box4, .box5 {
        width: 248px;
    }
    /* Fall in love section */
    .fallsqu {
        width: 282px;
        margin-left: -36px;
    }
    /* Weather section */
    .currentweatherinfo {
        width: 305px;
    }
    .nextweatherinfo {
        width: 305px;
    }
    .doubleweatherinfo {
        width: 305px;
    }
    /*-------------------------------------------------------Temple Page--------------------------------------------------------------------*/
    .box1temples img {
        height: 540px;
    }
    .infocards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
    }
    .likebuttonss img {
        width: 197px;
        height: 165px;
    }
    
    
}
@media only screen and (min-width: 1200px){
    /* Header */
    .stats h2 {
        font-size: 25px;
        width: 656px;
    }
    .stats {
        height: 149px;
        width: 743px;
    }
    .stats button {
        font-size: 27px;
    }
    /* Fall in love section */
    .roomone {
        width: 261px;
        margin-left: 687px;
    }
    .fallsqu {
        width: 282px;
        margin-left: 110px;
    }

}

