header img{
    width: 150px;
    height: auto;
}

body {
	max-width: 760px;
	margin: 0 auto;
    background-color: #F49F0A;
}
nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 0 30px #333;
    display: flex;
	flex-direction: row;
    font-size: 1.1rem;
}
nav div {
	flex: 1 1 auto;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}
nav a:hover {
	background-color: #07BEB8;
	color: yellow;
}
footer {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}
header,
footer {
	background-color: #07BEB8;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
    padding: 2px;
}
.intro{
    text-align: center;
}
.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:#333 solid;
    margin: 40px;
    text-align: center;
    background-color: #AED4E6;
}
.two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:#333 solid;
    margin: 40px;
    text-align: center;
    background-color: #07BEB8;
}
.three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:#333 solid;
    margin: 40px;
    text-align: center;
    background-color: #AED4E6;
}
.four{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:#333 solid;
    margin: 40px;
    text-align: center;
    background-color: #07BEB8;
}
.five{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:#333 solid;
    margin: 40px;
    text-align: center;
    background-color: #AED4E6;
}
h1, h2{
    font-family: 'David Libre', serif;
}
p, footer{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 30em){
	nav{
	flex-direction: column;	
	}
	h1{
		font-size: 25px;
	}
	
}
@media only screen and (max-width: 20em){
	h1{
		font-size: 15px;
	}
}